<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Pubsite</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/people/list">Személyek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pubs">Kocsmák</a>
            </li>
        </ul>
    </div>
</nav>