<%- include('header') %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <h2>Személyek</h2>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Név</th>
                    <th>Teljes Név</th>
                    <th>Kedvenc</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr class="trow">
                    <td>Minta</td>
                    <td>Lorem Ipsum Dolor</td>
                    <td>sit amet</td>
                    <td class="text-right">
                        <a href="/people/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="trow">
                    <td>Minta2</td>
                    <td>Lorem Ipsum Dolor</td>
                    <td>sit amet</td>
                    <td class="text-right">
                        <a href="/people/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="trow">
                    <td>Minta3</td>
                    <td>Lorem Ipsum Dolor</td>
                    <td>sit amet</td>
                    <td class="text-right">
                        <a href="/people/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr class="trow">
                    <td>Minta4</td>
                    <td>Lorem Ipsum Dolor</td>
                    <td>sit amet</td>
                    <td class="text-right">
                        <a href="/people/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 text-center col-lg-3">
            <div id="wrapper">
                <h2>Kedvelt helyek</h2>
                    <ul id="favourites" class="fbox">
                        <li class="column" itemID="1"><header>Kocsma1</header></li>
                        <li class="column" itemID="2"><header>Kocsma2</header></li>
                        <li class="column" itemID="3"><header>Kocsma3</header></li>
                    </ul>
                <h2>Egyéb</h2>
                <ul id="other" class="fbox">
                    <li class="column" itemID="1"><header>Kocsma4</header></li>
                    <li class="column" itemID="2"><header>Kocsma5</header></li>
                    <li class="column" itemID="3"><header>Kocsma6</header></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/drag.js"></script>
<script type="text/javascript" src="/js/people.js"></script>
<script>$( "#navbarSupportedContent" ).append( "<a class=\"btn btn-outline-success my-2 my-sm-0\" href=\"/people/add\"><i class=\"fas fa-plus\"></i> Új személy</a>" );</script>
<%- include('footer') %>