<%- include('header') %>
<div class="container">
    <div class="row">
        <div class=" col-sm-12 col-xl-10">
            <h2>Kocsmák</h2>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Név</th>
                    <th>Cím</th>
                    <th>Nyitvatartás</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Minta</td>
                    <td>1111 Lorem, Ipsum utca 11.</td>
                    <td>10:00-18:00</td>
                    <td class="text-right">
                        <a href="/pubs/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Minta2</td>
                    <td>1111 Lorem, Ipsum utca 11.</td>
                    <td>10:00-18:00</td>
                    <td class="text-right">
                        <a href="/pubs/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Minta3</td>
                    <td>1111 Lorem, Ipsum utca 11.</td>
                    <td>10:00-18:00</td>
                    <td class="text-right">
                        <a href="/pubs/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Minta3</td>
                    <td>1111 Lorem, Ipsum utca 11.</td>
                    <td>10:00-18:00</td>
                    <td class="text-right">
                        <a href="/pubs/mod/1" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script>$( "#navbarSupportedContent" ).append( "<a class=\"btn btn-outline-success my-2 my-sm-0\" href=\"/pubs/add\"><i class=\"fas fa-plus\"></i> Új kocsma</a>" );</script>
<%- include('footer') %>