#favourites {
    width: 320px;
    min-height: 70px;
    list-style-type: none;
    background: #d4d5d6;
    border-radius: 20px;
    border: 2px solid #a0a0a0;
}
#other {
    width: 320px;
    min-height: 70px;
    list-style-type: none;
    background: #d4d5d6;
    border-radius: 20px;
    border: 2px solid #a0a0a0;
}
.column {
    width: 162px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.column header {
    width: 250px;
    color: black;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
    background-color: #838687;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #666666;
    cursor: grab;
}
.column header:hover{
    background-color: #b8bbbc;
}
.trow:hover{
    background: #d4d5d6;
}
.highlight {
    background-color: #838687;
}
.namecol{
    word-wrap: break-word;
    max-width: 200px;
}
.fullnamecol{
    word-wrap: break-word;
    max-width: 250px;
}
.favcol{
    word-wrap: break-word;
    max-width: 100px;
}